.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  color: #7E7E7B;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

h1 {
  text-align: center;
}

/*============Video===========*/

.video-feed {
  text-align: center;
}

.video-item {
  width: 416px;
  min-height: 200px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
  display: inline-block;
  line-height: 0;
}

.video-item {
  margin-top: 20px;
}

.video-item-header {
  height: 42px;
  padding: 0 20px;
}

.video-item h2, .video-item-views {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 42px;
}

.video-item h2 {
  float: left;
}

.video-item-views {
  float: right;
}

.loader {
  position: relative;
}

.loader:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  background-image: url('/images/loading2.gif');
  background-repeat: no-repeat;
  background-position: center;
  content: '';
}

.video-container {
  width: 414px;
  height: 276px;
}

.video-error {
  color: red;
  margin: 20px 0;
  display: inline-block;
}